@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'customLight';
  src: url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'customRegular';
  src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'customMedium';
  src: url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

.bg-color {
  background-color: #EAEAEA;
}

.color-blue{
  color: #00ABB3;
}

.color-very-dark{
  color: #3C4048;
}

.color-dark{
  color: #B2B2B2;
}

.color-light{
  color: #EAEAEA;
}
