<app-navbar></app-navbar>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="blog-item mb-4">
          <h1>NEW BLOG</h1>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <div class="blog-item mb-4">
          <input type="file">
        </div>
      </div>
      <div class="col-md-12">
        <div class="blog-item mb-4">
          <input class="blog-header" type="text" placeholder="Blog header">
        </div>
      </div>
      <div class="col-md-12">
        <div class="blog-item mb-4">
          <input class="blog-info" type="text" placeholder="Blog info ( Blogunuz hakkında kısa bilgi )">
        </div>
      </div>
      <div class="col-md-12">
        <div class="blog-item mb-4">
          <textarea class="blog-detail" placeholder="Blog detail"></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="blog-item mb-4">
          <button>SHARE</button>
        </div>
      </div>
    </div>
  </div>
</div>
