<app-navbar></app-navbar>

<div class="blog-area bg-color">
  <div class="container">
    <div class="row">

      <div class="col-md-10">
        <div class="row mt-5">

          <div class="col-md-4 mt-1 mb-1">
            <div class="section">
              <a routerLink="/">
                <div class="blog-image">
                  <img src="../../assets/images/laptop.jpg" alt="">
                </div>
                <div class="blog-header mt-2">
                  <h3>DENEME</h3>
                </div>
                <div class="blog-detail mt-1 mb-1">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, magnam? Cupiditate, optio
                    quisquam
                    numquam eos harum dolorum illum atque laboriosam minima et. Corrupti exercitationem reiciendis natus
                    placeat labore esse repudiandae.</p>
                </div>
                <div class="blog-like-view mt-1 mb-1">
                  <div class="like">
                    <i class="pi pi-heart" style="font-size: 1rem"></i>
                    <i class="like-number">50</i>
                  </div>
                  <div class="view">
                    <i class="pi pi-eye" style="font-size: 1rem"></i>
                    <i class="view-number">50</i>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4 mt-1 mb-1">
            <div class="section">
              <a routerLink="/">
                <div class="blog-image">
                  <img src="../../assets/images/macbook.jpg" alt="">
                </div>
                <div class="blog-header mt-2">
                  <h3>DENEME</h3>
                </div>
                <div class="blog-detail mt-1 mb-1">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, magnam? Cupiditate, optio
                    quisquam
                    numquam eos harum dolorum illum atque laboriosam minima et. Corrupti exercitationem reiciendis natus
                    placeat labore esse repudiandae.</p>
                </div>
                <div class="blog-like-view mt-1 mb-1">
                  <div class="like">
                    <i class="pi pi-heart" style="font-size: 1rem"></i>
                    <i class="like-number">50</i>
                  </div>
                  <div class="view">
                    <i class="pi pi-eye" style="font-size: 1rem"></i>
                    <i class="view-number">50</i>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4 mt-1 mb-1">
            <div class="section">
              <a routerLink="/">
                <div class="blog-image">
                  <img src="../../assets/images/monitor.jpg" alt="">
                </div>
                <div class="blog-header mt-2">
                  <h3>DENEME</h3>
                </div>
                <div class="blog-detail mt-1 mb-1">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, magnam? Cupiditate, optio
                    quisquam
                    numquam eos harum dolorum illum atque laboriosam minima et. Corrupti exercitationem reiciendis natus
                    placeat labore esse repudiandae.</p>
                </div>
                <div class="blog-like-view mt-1 mb-1">
                  <div class="like">
                    <i class="pi pi-heart" style="font-size: 1rem"></i>
                    <i class="like-number">50</i>
                  </div>
                  <div class="view">
                    <i class="pi pi-eye" style="font-size: 1rem"></i>
                    <i class="view-number">50</i>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="row mt-5">

          <div class="col-md-4 mt-1 mb-1">
            <div class="section">
              <div class="blog-image">
                <img src="../../assets/images/iphone.jpg" alt="">
              </div>
              <div class="blog-header mt-2">
                <h3>DENEME</h3>
              </div>
              <div class="blog-detail mt-1 mb-1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, magnam? Cupiditate, optio quisquam
                  numquam eos harum dolorum illum atque laboriosam minima et. Corrupti exercitationem reiciendis natus
                  placeat labore esse repudiandae.</p>
              </div>
              <div class="blog-like-view mt-1 mb-1">
                <div class="like">
                  <i class="pi pi-heart" style="font-size: 1rem"></i>
                  <i class="like-number">50</i>
                </div>
                <div class="view">
                  <i class="pi pi-eye" style="font-size: 1rem"></i>
                  <i class="view-number">50</i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-1 mb-1">
            <div class="section">
              <div class="blog-image">
                <img src="../../assets/images/headphones.jpg" alt="">
              </div>
              <div class="blog-header mt-2">
                <h3>DENEME</h3>
              </div>
              <div class="blog-detail mt-1 mb-1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, magnam? Cupiditate, optio quisquam
                  numquam eos harum dolorum illum atque laboriosam minima et. Corrupti exercitationem reiciendis natus
                  placeat labore esse repudiandae.</p>
              </div>
              <div class="blog-like-view mt-1 mb-1">
                <div class="like">
                  <i class="pi pi-heart" style="font-size: 1rem"></i>
                  <i class="like-number">50</i>
                </div>
                <div class="view">
                  <i class="pi pi-eye" style="font-size: 1rem"></i>
                  <i class="view-number">50</i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-1 mb-1">
            <div class="section">
              <div class="blog-image">
                <img src="../../assets/images/watch.jpg" alt="">
              </div>
              <div class="blog-header mt-2">
                <h3>DENEME</h3>
              </div>
              <div class="blog-detail mt-1 mb-1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, magnam? Cupiditate, optio quisquam
                  numquam eos harum dolorum illum atque laboriosam minima et. Corrupti exercitationem reiciendis natus
                  placeat labore esse repudiandae.</p>
              </div>
              <div class="blog-like-view mt-1 mb-1">
                <div class="like">
                  <i class="pi pi-heart" style="font-size: 1rem"></i>
                  <i class="like-number">50</i>
                </div>
                <div class="view">
                  <i class="pi pi-eye" style="font-size: 1rem"></i>
                  <i class="view-number">50</i>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-2">
        <div class="row mt-5">
          <div class="col-md-12 mt-1 mb-1">
            <div class="recommended-section"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
